{% extends 'base.html' %} {% block content %} {% for post in posts %}
<div class="mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <a href="{% url 'detail' post.pk %}" class="text-decoration-none text-dark">
        <div class="card text-center shadow p-2">
        <img src="{{post.image.url}}" class="card-img-top" alt="..." style="height:270px"  >
        <div class="card-body">
          <span class="mt-0"><small>Author: <strong>{{post.author}}</strong></small></span>        
          <h4 class="card-title">{{post.title}}</h4>

        </div>
      </a>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}
