{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        {% if user.is_authenticated and user.id == form.author.value %}          
                <h3 class="text-center mb-3">Update Post</h3>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{form.title.value}}">            
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Posting</label>
                    <textarea class="form-control" id="content" name="content" rows="3" value="{{form.content.value}}">{{form.content.value}}</textarea>
                </div>
                <div >                
                    <input type="hidden" class="form-control" id="author" name="author" value="{{form.author.value}}">
                </div>
                <div class="mb-3">        
                    <img src="{{form.image.value.url}}" alt="" style="width: 50px; height: 50px;">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">New Image</label>
                    <input type="file" class="form-control" id="image" name="image">            
                </div>       
                <button type="submit" class="btn btn-primary ">Update</button>
                </form>
        {% else %}
        <p>You not authorized.</p>
        
        {% endif %}
        
    </div>
</div>


{% endblock content %}